.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-text {
    font-size: 28px;
    color: #ff0000; /* Neon red color */
    text-transform: uppercase;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
  }

/* .......navbar...... */


body {
    background-color: #020202 !important;
}

.main {
    background-color: #020202;
    height: 60px;
    border-bottom: 0.1px solid rgb(89, 87, 87) !important;
}

.togler-color {
    color: #ffffff;
}

.navbar-light .navbar-toggler-icon-white {
    background-color: white;
}

#logo-img {
    height: 36px;
    cursor: pointer;
}

.nav-end-icon {
    margin-right: 0px;
    cursor: pointer;
}

#nav-right-icon {
    height: 36px;
    cursor: pointer;
}

.offcanvas {
    background-color: #020202 !important;

}

.hamberger {
    color: #ffffff !important;
    cursor: pointer;
}

.hamberger:hover {
    color: rgb(252, 175, 23) !important;
}



/* .......navbar end ...... */




/* .......section-1...... */

.section-1-img-text {
    color: #ffffff;
}

.watch-me-btn {
    color: #ffff !important;
    border: 1px solid #ffffff !important;

}

.watch-me-btn:hover {
    background-color: rgb(255, 172, 0);
    color: rgb(2, 2, 2) !important;
    border-color: rgb(255, 172, 0) !important;

}

.section-1-font {
    font-weight: 700;
}

h2 {
    font-size: 2.6rem !important;
}

.section-1-btn {
    font-weight: bold !important;
    font-size: 1rem !important;
}

@media (max-width:600px) {
    .section-1-img-text {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    h2 {
        font-size: 1.9rem !important;
    }
}

@media (max-width:360px) {
    .section-1-img-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px 0px !important;
    }

    h2 {
        font-size: 0.9rem !important;
    }
}

/* ........section-1 end............ */



/* .............section-2 start.............. */

.image-column {
    padding: 0px 0px !important;
}

.newswire {
    color: #ffffff !important;
    font-weight: bold;
}

.news-date {
    color: rgb(130, 128, 128);
    font-size: 13px !important;
}

.card {
    height: 100%;
    background-color: #020202 !important;
    color: #ffffff !important;
    border: 0.3px solid #808080 !important;
    cursor: pointer;
}

.view {
    color: rgb(255, 255, 255) !important;
    font-size: 17px !important;
    text-decoration: underline rgb(255, 172, 0);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px
}


.view:hover {
    background-color: rgb(255, 172, 0);
}

.custom-card {
    height: 100%;
    cursor: pointer;
}

.custom-card img {
    height: 100%;
    object-fit: cover;
}

.featured-games {
    color: #ffffff !important;
}

/* ..........section-2 end............ */



/* footer section start */

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.footer-links {
    list-style: none;
    padding-left: 0;

}

@media (max-width: 800px) {
    .col-12.mt-4.pt-4.pb-4 .container {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .col-12.mt-4.pt-4.pb-4 .container {
        font-size: 9px;
    }
}

@media (max-width: 400px) {
    .col-12.mt-4.pt-4.pb-4 .container {
        font-size: 7px;
    }
}

@media (max-width: 576px) {
    .footer-links.align-items-sm-center {
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer-links li {
    display: inline;
    margin-right: 20px;
    color: #cecece;
    cursor: pointer;

}

.links {
    font-size: 20px !important;
}

@media (max-width:700px) {
    .links {
        font-size: 16px !important;
    }
}

@media (max-width: 576px) {
    .d-flex.flex-column.justify-content-start.align-items-sm-end {
        align-items: flex-start;
    }
}

.footer-icons {
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out !important;
}

.footer-icons:hover {
    opacity: 0.3;
}

@media (max-width: 576px) {
    .footer-icons {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

.links-2 {
    font-size: 10px;
    color: #808080;
}

.last-line {}

@media (max-width: 800px) {
    .col-12.mt-4.pt-4.pb-4 .container {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .col-12.mt-4.pt-4.pb-4 .container {
        font-size: 9px;
    }
}

@media (max-width: 400px) {
    .col-12.mt-4.pt-4.pb-4 .container {
        font-size: 7px;
    }
}

.H {
    cursor: pointer;
}

.H:hover {
    opacity: 0.3;
}

.footer-2-line:hover {
    opacity: 0.3;
}

.links:hover {
    opacity: 0.3;
}

/* footer section end */




/* search bar */

.search-bar {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }
  
  .scroll-to-top-button.show {
    display: block;
  }